*{
	background: LightSkyBlue;
}

.wrapper{
	margin:auto;
	margin-top:60px;
	height: 576px;
	width: 800px;
}

#menu{
	background-image: url("../img/imagenMenu.png");
}

.boton{
	font-size: 1.4em;
	font-family: "Comic Sans MS";
	font-weight: bolder;
	border:none; 
	width:200px; 
	height:80px; 
	padding:0;
	text-shadow: 1px 1px 0px white;
}

.boton:hover{
	color:white;
	text-shadow: 1px 1px 0 black;
}

.boton:active{
	color:grey;
	text-shadow: -1px -1px 0 black;
}

#botones_menu .boton{
	float:right;
	clear:right;
}

#botones_idiomas{
	margin-top:120px;
	float:right;
	clear:right;	
	margin-right:20px;
}

.idiomas{
	margin-left:10px;
}

h1{
	text-align: center;
	padding-top:20px;	
	font-family: "Comic Sans MS";
}

table{
	font-size: 1.4em;
	font-family: "Comic Sans MS";
	margin:auto;
}

